---
import { AnimatedText } from "../components/AnimatedText";
import { ImageGallery } from "../components/ImageGallery";
import ParallaxText from "../components/ParallaxText";
import RevealText from "../components/RevealText";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section
      class="scrolling-section relative min-h-screen"
      client:only="motion"
      id="intro"
    >
      <video
        autoplay
        muted
        loop
        playsinline
        preload="auto"
        class="absolute bg-black opacity-70 inset-0 w-full h-full object-cover"
        id="bg-video"
      >
        <source
          src="/movies/video-amfik.mov"
          type="video/mp4"
          media="(max-width: 480px)"
        />
        <!-- <source src="/assets/intro-movie-opt.mp4" type="video/mp4" /> -->

        Your browser does not support the video tag.
      </video>
      <div
        class="relative bottom-0 left-0 transform translate-z-1/2 w-full flex flex-col flex-wrap py-6 opacity-95 items-center justify-between min-h-screen overflow-hidden"
      >
        <h1
          class="top-0 text-nowrap select-none font-josefin"
          style="font-size: 15vi;"
        >
          <span class="name font-bold">Dávid</span>
          <span class="surname">Ďurišin</span>
        </h1>
        <div class="desc text-center flex flex-col gap-18">
          <p
            class="text-xs/6 text-balance lg:text-lg/6 max-w-sm lg:max-w-lg p-7"
          >
            Creative short films, behind-the-scenes stories, raw visuals, and
            authentic moments. Emotion-driven storytelling with a focus on
            honesty, spontaneity, and a sharp eye for detail. A filmmaker guided
            by intuition, curiosity, and a love for the real.
          </p>
          <p class="text-xl font-josefin font-bold">Slovakia | Worldwide</p>
        </div>
        <p
          class="location hidden lg:block absolute text-xl font-bold bottom-2 left-0 p-6"
        >
          48.7164° N
        </p>
        <p
          class="location hidden lg:block absolute text-xl font-bold bottom-2 right-0 p-6"
        >
          21.2611° E
        </p>
      </div>
    </section>
    <section
      id="about"
      class="scrolling-section relative min-h-screen flex flex-col justify-center mx-auto max-w-sm lg:max-w-4xl text-center p-6 py-6"
    >
      <p class="name text-xs lg:text-base mb-8">Capturing stories</p>
      <h2
        class="about-text text-xl lg:text-6xl text-balance tracking-tighter font-josefin"
      >
        <AnimatedText
          text="I'm Dávid Ďurišin, a professional filmmaker with a passion for visual storytelling. I specialize in video editing, cinematography, and screenwriting."
          client:only="motion"
        />
      </h2>
      <h3
        class="about-subtext mt-8 mx-auto max-w-xs lg:max-w-lg text-balance text-md lg:text-2xl"
      >
        <RevealText
          text="Over the past four years, I've had the opportunity to collaborate closely with talented creatives across different fields."
          client:only
        />
      </h3>
    </section>
    <!-- <section id="projects" class="scrolling-section relative min-h-screen flex flex-col justify-center text-center">
      <ProjectItem
        title="The Last Dance"
        description="A short film about a couple's last dance together, exploring the themes of love, loss, and nostalgia."
        videoSrc="/movies/video-amfik.mov"
        client:only
      />
    </section> -->
    <section class="photos">
      <ImageGallery
        images={[
          ...Array.from({ length: 30 }, (_, i) => ({
            src: `./optimalized/portfoto-${i + 1}.webp`,
            label: `Visual image showcasing my work this is an image ${i} out of 30`
          }))
        ]}
        client:only
      />
    </section>
    <section
      class="relative py-32 text-xl xl:text-9xl text-nowrap opacity-40 select-none"
    >
      <ParallaxText client:only baseVelocity={-3}>project urisin</ParallaxText>
      <ParallaxText client:only baseVelocity={1}>since 2021</ParallaxText>
    </section>
  </main>
</Layout>

<script>
  import { animate, stagger, inView } from "motion";

  inView(
    ".scrolling-section",
    (element) => {
      animate(
        element,
        { opacity: [0, 1], y: [50, 0] },
        { ease: [0.39, 0.24, 0.3, 1], duration: 1 }
      );

      const name = element.querySelector(".name");
      if (name) {
        animate(
          name,
          { opacity: [0, 1], y: [10, 0] },
          { type: "spring", delay: stagger(0.25, { startDelay: 0.25 }) }
        );
      }

      const surname = element.querySelector(".surname");
      if (surname) {
        animate(
          surname,
          { opacity: [0, 1] },
          { type: "spring", delay: stagger(0.25, { startDelay: 0.25 }) }
        );
      }

      const cards = element.querySelectorAll(".location");
      if (cards.length > 0) {
        animate(
          cards,
          { opacity: [0, 1], y: [25, 0] },
          { type: "spring", delay: stagger(0.25, { startDelay: 0.75 }) }
        );
      }

      const desc = element.querySelector(".desc");
      if (desc) {
        animate(
          desc,
          { opacity: [0, 1], y: [25, 0] },
          { type: "spring", delay: stagger(0.25, { startDelay: 1 }) }
        );
      }

      const email = element.querySelector(".about-subtext");
      if (email) {
        animate(email, { opacity: [0, 1] }, { type: "ease-in-out", delay: 3 });
      }
    },
    { amount: 0.25 }
  );
</script>
