---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section
      class="scrolling-section relative min-h-screen"
      client:only="motion"
      id="intro"
    >
      <video
        autoplay
        muted
        loop
        class="absolute bg-black opacity-70 inset-0 w-full h-full object-cover"
      >
        <source src="/assets/intro-movie.mov" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div
        class="relative bottom-0 left-0 transform translate-z-1/2 w-full flex flex-col flex-wrap py-6 opacity-95 items-center justify-between min-h-screen overflow-hidden"
      >
        <h1
          class="top-0 text-nowrap select-none font-josefin"
          style="font-size: 15vi;"
        >
          <span class="name font-bold">Dávid</span>
          <span class="surname">Ďurišin</span>
        </h1>
        <div class="desc text-center flex flex-col gap-18">
          <p class="text-sm/6 text-balance lg:text-lg/6 max-w-sm lg:max-w-lg">
            Creative short films, behind-the-scenes stories, raw visuals, and
            authentic moments. Emotion-driven storytelling with a focus on
            honesty, spontaneity, and a sharp eye for detail. A filmmaker guided
            by intuition, curiosity, and a love for the real.
          </p>
          <p class="text-xl font-josefin font-bold">Slovakia | Worldwide</p>
        </div>
        <p
          class="location hidden lg:block absolute text-xl font-bold bottom-2 left-0 p-6"
        >
          48.7164° N
        </p>
        <p
          class="location hidden lg:block absolute text-xl font-bold bottom-2 right-0 p-6"
        >
          21.2611° E
        </p>
      </div>
    </section>
    <section
      id="about"
      class="scrolling-section min-h-screen flex flex-col justify-center text-2xl mx-auto max-w-xl text-center"
    >
      <h2 class="about-text">
        This website is still work in progress. If you want to reach out to me
        at david.durisin@outlook.com
      </h2>
    </section>
  </main>
</Layout>

<script>
  import { animate, stagger, inView } from "motion";
  inView(".about-text", (element) => {
    animate(
      element,
      { y: [-500, 0], opacity: [0, 1] },
      { type: "spring", damping: 1, delay: 0.5 }
    );
  });

  inView(
    ".scrolling-section",
    (element) => {
      animate(
        element,
        { opacity: [0, 1], y: [50, 0] },
        { ease: [0.39, 0.24, 0.3, 1], duration: 1 }
      );

      const name = element.querySelector(".name");
      if (name) {
        animate(
          name,
          { opacity: [0, 1], y: [-320, 0] },
          { type: "spring", delay: stagger(0.25, { startDelay: 0.25 }) }
        );
      }

      const surname = element.querySelector(".surname");
      if (surname) {
        animate(
          surname,
          { opacity: [0, 1], y: [-320, 0] },
          { type: "spring", delay: stagger(0.25, { startDelay: 0.25 }) }
        );
      }

      const cards = element.querySelectorAll(".location");
      if (cards.length > 0) {
        animate(
          cards,
          { opacity: [0, 1], y: [25, 0] },
          { type: "spring", delay: stagger(0.25, { startDelay: 0.75 }) }
        );
      }

      const desc = element.querySelector(".desc");
      if (desc) {
        animate(
          desc,
          { opacity: [0, 1], y: [25, 0] },
          { type: "spring", delay: stagger(0.25, { startDelay: 1 }) }
        );
      }
    },
    { amount: 0.25 }
  );
</script>
